@import url('https://fonts.google.com/specimen/Lexend+Mega');
body {
    font-family: 'Sans-Serif',serif;
    background: rgb(0,255,0);

}

h1{
    font-family: 'Lexend+Mega';
    font-size: 75px;
    text-align: center;
    color: rgb(197, 122, 122);

}
 ul {
     list-style-type: none;
 }

 ol {
     font-weight:300;

 }
  li {
      text-align: center;
      border: 2px inset green;
      border-radius: 8px;
      color: black;
      background: plum;
      padding-left: 30px;
  }
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      height: 200px;
  }

  body{
      font-family: sans-serif;
      background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }
  
  h3{
      text-decoration:underline;
      font-size:20px;
  }
  p {
      padding-top: 20px;
      padding-bottom:20px;
  }

  h2, h4, h4, h6{
      font-size: 20px

  }