.header {
    font-weight: bold;
    text-decoration: underline;
}

img {
    height: 250px;
    width: auto;
}

#h1name {
    color: limegreen;
}

a:visited {
    color: green;
}

.noBullets {
    list-style: none;
}

/* #olChild{
    
} */

.emailLink:hover {
    color: red;
}

a:hover {
    color: orange;
}