.headerOne {
    text-decoration-line: underline;
    font-weight: bold;
}

#imageId {
    height: 100px;
    width: 130px;
}

#hOneId {
    color: darkolivegreen;

}
a:visited{
    color: cyan;
}
.comul {
    list-style-type: none;
}
ol li:last-child {
    font-weight: bold;

}

a[href="comlink"] {
    cursor:pointer;
    color: rebeccapurple;    
}

.comul a:hover {
    cursor:pointer;
    color:orange;
}

#emailMe a:hover{
    cursor:pointer;
    color: red; 
}

#languageUl li{
    font-style: italic;
}

body{
    text-align: center;
    list-style-position: inside;
}

#bug p:first-of-type{
    background-color:rgba(0,0,0,.5);
}