.header {
    font-weight: bold;
    text-decoration: underline;
}

img[src^="https"] {
    height: 250px;
    width: 250px;
}

#name {
    color: blue;
}

a[href$=com]:visited {
    color: green;
}

.links {
    list-style-type: none;
}

ol li:last-child {
    font-weight: bold;
}

#email:hover {
    color:red;
}

a:hover {
    color: orange;
}

ul {
    font-style: italic;
}

body{
    text-align: center;
}

div p:first-child{
    color: blueviolet;
}