.header {
    font-weight: bold;
    text-decoration: underline;
}

img {
    height: 250px;
    width: auto;
}

#h1name {
    color: limegreen;
}

a:visited {
    color: green;
}

.noBullets {
    list-style: none;
}

ol li:last-of-type{
    font-weight: bold;
}

.emailLink:hover {
    color: red;
}

a:hover {
    color: orange;
}

ol li{
    font-style: italic;
}

body {
    text-align: center;
}

.change p:first-of-type {
    background-color: rgba(0,0,0,.5)
}