.headerOne {
    text-decoration-line: underline;
    font-weight: bold;
}

#imageId {
    height: 100px;
    width: 130px;
}

#hOneId {
    color: darkolivegreen;

}
a:visited{
    color: cyan;
}
.comul {
    list-style-type: none;
}
ol li:last-child {
    font-weight: bold;

}

#email:hover {
    cursor:pointer;
    color: rebeccapurple;
    
}