.header {
    font-weight: bold;
    text-decoration: underline;
}

img[src^="https://"] {
    width: 250px;
    height: 250px;
}

#name {
    color: blue;
}


a:visited[href$=".com"]{
    color: green;
} 

.links {
    list-style: none;
}

ol>li:last-child {
    font-weight: bold;
}

a:hover[href$=".org"] {
    color: red;
}

a:hover[href$=".com"] {
    color: orange;
}
