h1 {
    font-family: 'Luminari';
    color: blue;
    font-size: 30px;
}
 .important {
    font-weight: 700;
    text-decoration: underline;
}

#skills-header {
    color:rebeccapurple
}
ul {
    list-style-type: none;
}

ol li:last-child{
    font-weight: bold;
}

li {
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    color: blue;
    background-color: lightpink;
    padding-left: 30px;
}

img {
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
    text-align: center;
}

h3 {
    text-decoration-line: underline;
}

html {
    background-color: rgb(159,193,201);
    background: radial-gradient(circle, rgba(159,193,201,1) 9%, rgba(224,209,221,1) 52%, rgba(0,212,255,1) 100%);
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 20px;
}


a:visited[href$=".com"] {
    color:green
}
a:hover[href$=".com"] {
    color:red
}
a:hover:not[href$=".com"] {
    color:orange
}

.links-list {
    list-style: outside url(https://github.githubassets.com/images/icons/emoji/unicode/1f310.png) disc;
}

#language-list {
    font-style:italic
}

p:nth-child(3) {
    background-color: rgba(0,0,0,.5);
}
